* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Exo 2', sans-serif;
}

body {
  width: 100%;
}

html {
  font-size: 60%;
}

/*Header Start*/
.top-header {
  background-image: url(assets/hero-man.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.bottom-header {
  background-color: #f1f8ff;
  height: 20vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 80px;
}

.menu-btn,
.menu-icon {
  display: none;
}

.navbar.scrolled {
  background-color: #355592;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar img {
  margin-left: 110px;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin-right: 50px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.nav-menu li:last-child {
  background-color: #faa51b;
  border-radius: 5px;
  padding: 3px 10px;
  margin-top: 29px;
  margin-right: 100px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.content {
  position: absolute;
  top: 12%;
  margin-left: 240px;
  color: #f8f9fa;
  width: 50%;
  margin-top: 50px;
}

.content h1 {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 50%;
}

.content p {
  font-size: 20px;
  font-weight: bold;
}

.top-content {
  background-color: #315592;
  border-radius: 5px;
  padding: 3px 20px;
  font-size: 20px;
  font-weight: bold;
}

.button1 {
  background-color: #315592;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  border: 1px solid #315592;
  transition: 0.3s;
  color: #fefefe;
}

.button2 {
  background-color: transparent;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  border: 1px solid #fefefe;
  transition: 0.3s;
  color: #fefefe;
  margin-left: 50px;
}

.content button:hover {
  cursor: pointer;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  background-color: #ffffff;
  border: none;
  padding: 15px;
  text-align: center;
  height: 65%;
  width: 15%;
}

.card h2 {
  color: #315592;
  font-size: 25px;
}

.card p {
  color: #000000;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}
/*Header End*/

/*Our Classes Start */

.top-classes {
  background: linear-gradient(80deg, #ffffff 45%, #f6f6f6 0%);
  padding: 5%;
}

.main {
  width: 75%;
  margin: auto;
}

.classes h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #315592;
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}

.classes h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 7px;
  background-color: #faa51b;
  border-radius: 10px;
}

.main p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.button-classes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.btn-class {
  margin-right: 20px;
}

.button-classes button {
  position: relative;
  background-color: #315592;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  border: 1px solid #315592;
  color: #fefefe;
}

.button-classes button:hover {
  cursor: pointer;
}

.button-classes button:focus {
  background-color: #faa51b;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  border: 1px solid #faa51b;
  color: #fefefe;
}

.button-classes button:focus::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #faa51b transparent transparent transparent;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin-top: 90px;
  margin-left: 20%;
  width: 75%;
}

.right-info img {
  max-height: 500px;
  max-width: 400px;
  margin-right: 190px;
}

.left-info {
  text-align: center;
}

.left-info h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: justify;
}

.left-info p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: justify;
  letter-spacing: 0.2px;
}

.bottom-classes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
  margin-bottom: 50px;
  padding: 5%;
}

.calculator {
  display: flex;
  flex-direction: column;
}

.calculator h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #315592;
  position: relative;
  padding-top: 40px;
  padding-bottom: 20px;
}

.calculator p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px;
  text-align: justify;
}

input {
  width: 80%;
  height: 10px;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #242323;
  font-size: 15px;
}

label {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 2px;
}

.calculator-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.calculator-img {
  margin-top: 60px;
  position: relative;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 100%;
  left: 14%;
  transition: left 0.5s ease;
}

#btn-calculate {
  background-color: #faa51b;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  border: 1px solid #faa51b;
  color: #fefefe;
}

#btn-calculate:hover {
  cursor: pointer;
}

/*Our Classes End*/

/* Trainer Start */

.top-trainer {
  background-color: #f1f8ff;
  padding: 5%;
}

.trainer-section {
  width: 60%;
  margin: auto;
}

.trainer-section h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #315592;
  position: relative;
  padding-bottom: 20px;
}

.trainer-section h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 7px;
  background-color: #faa51b;
  border-radius: 10px;
}

.trainer-section p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.trainer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}

.trainer-card {
  border: 2px solid #faa51b;
  position: relative;
  text-align: center;
  width: 300px;
  height: 350px;
  z-index: 0;
  
}

.line {
  position: absolute;
  top: -12px;
  left: 100px;
  width: 100px;
  height: 372px;
  background-color: #315592;
  z-index: -1;
}

.line-2 {
  position: absolute;
  top: 110px;
  left: -10px;
  width: 318px;
  height: 100px;
  background-color: #315592;
  z-index: -1;
}

.line-3 {
  position: absolute;
  top: 250px;
  left: 10px;
  width: 280px;
  height: 70px;
  background-color: #315592;

  opacity: 0;
}

.trainer-card img {
  width: 100%;
  height: 100%;
  display: block;
  transition:  scale 1s;
}

.trainer-layer {
  position: absolute;
  top: 230px;
  width: 70%;
  height: 110px;
  left: 15%;
  padding-bottom: 20px;
  opacity: 0;
  transition:  scale 2s;
  border: 1px solid #315592;
  background-color: #315592;
  z-index: 1;
}

.trainer-card:hover .trainer-layer {
  opacity: 1;
  scale: 1.2;
}

.trainer-card .line-2{
  transition:  scale 2s;
}

.trainer-card:hover .line-2 {
  opacity: 0.8;
  scale: 1.2;
}

.trainer-card:hover img {
  
  scale: 1.2;
}

.trainer-layer h4 {
  color: #fefefe;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.trainer-layer p {
  color: #fefefe;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}

.bottom-trainer {
  background-color: #ffffff;
  padding: 5%;
}
/*Trainer End*/

/*Purchase Start*/
.purchase {
  width: 60%;
  margin: auto;
}

.purchase-section h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #315592;
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
}

.purchase-section h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 7px;
  background-color: #faa51b;
  border-radius: 10px;
}

.purchase-section p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.purchase-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  gap: 20px;
}

.purchase-card {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: #000000 0px 0px 10px 0px;
  border-radius: 5px;
  transition: transform 1s, opacity 1s;
}

.purchase-card img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

.purchase-layer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
}

.purchase-layer h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.purchase-card:hover{
  scale: 1.1;
  opacity: 0.7;
}


.purchase-layer p {
  font-size: 14px;
  font-weight: bold;
  color: #040404; 
  margin: auto;
}

.purchase-layer p span {
  text-decoration: line-through;
}

.price {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7px;
}

.price p {
  text-align: center;
}

.shopping_card {
  color:black;
  font-size: 18px;

}
/*Purchase End*/

/* Review start */

.review {
  background-color: #f1f8ff;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-section {
  width: 60%;
  margin: auto;
}

.review-section h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #315592;
  position: relative;
  padding-bottom: 20px;
}

.review-section h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 7px;
  background-color: #faa51b;
  border-radius: 10px;
}

.review-section p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  max-width: 1200px;
  height: 10%;
}

.st-client {
  display: flex;
}

.st-client img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.nd-client {
  display: flex;
}

.nd-client img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.client-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.client-info h4 {
  font-size: 15px;
  margin-bottom: 5px;
}

.client-info p {
  font-size: 10px;
  font-weight: bold;
  color: #040404; 
}

.client-main {
  width: 45%;
}

.comment {
  position: relative;
  letter-spacing: 0.2px;
  background-color: #355592;
  margin-top: 20px;
  color: #fefefe;
  padding: 15px;
  font-size: 12px;
  width: 450px;
}

.comment::before,
.comment::after {
  content: '';
  position: absolute;
  top: 100%;
  height: 0;
  border-style: solid;
}

.comment::before {
  border-width: 0px 30px 30px;
  border-color: transparent rgba(83, 118, 183, 0.8) transparent transparent;
  right: 420px;
}

.comment::after {
  border-width: 0px 30px 30px;
  transform: translate(-0%, -0%) rotate(270deg);
  border-color: transparent rgba(83, 118, 183, 0.8) transparent transparent;
  left: 410px;
  top: 120%;
}
/*Review End*/

/* Contact start */

.contact {
  background-color: #ffffff;
  padding: 5%;
}

.contact-section {
  padding-bottom: 50px;
  width: 60%;
  margin: auto;
}

.contact-section h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #315592;
  position: relative;
  padding-bottom: 20px;
}

.contact-section h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 9px;
  background-color: #faa51b;
  border-radius: 10px;
}

.contact-section p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.contact-menu {
  display: flex;
  justify-content: center;
}

.appointment {
  margin-top: 10px;
  max-width: 1200px;

  height: 10%;
}

.contact-info {
  display: flex;
  gap: 50px;
  align-items: center;

  max-width: 1200px;
  margin-left: 0px;
  margin-right: auto;
  height: 10%;
  font-size: 17px;
  margin-bottom: 50px;
}
/* Contact End */


/*Form Start*/
.form {
  width: 75%;
  margin-top: 30px;
}

.form input,
.form textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 20px;
  border: none;
  font-size: 15px;
  background-color: #f1f8ff;
}

.form textarea {
  height: 90px;
  resize: none;
  overflow-y: auto;
}

.form h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.form button {
  background-color: #315592;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 45%;
  margin-top: 20px;
  border: 1px solid #315592;
  color: #fefefe;
}

.form button:hover {
  cursor: pointer;
}
/*Form End*/

.map {
  width: 40%;
}

.map iframe {
  width: 90%;
  height: 400px;
}

/* Footer Start */

footer {
  background-color: #315592;
  padding: 3%;
}

.top-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  font-size: 18px;
}

.top-footer img {
  margin-left: -35%;
}

.top-footer p {
  margin-bottom: 20px;
  color: #ffffff;
  margin-left: 22%;
}

.bottom-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin-top: 20px;
  margin-left: 200px;
}

.left-side {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.left-side h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

.left-side a {
  color: #ffffff;
  font-size: 12px;
}

.right-side {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.right-side h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

.right-side a {
  color: #ffffff;
  font-size: 12px;
}

/* Footer End */

/*Responsive Settings Start*/

@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
    width: 100%;
    overflow-x: hidden;
  }

  section {
    width: 100%;
  }
  body {
    overflow-x: hidden;
  }
  .menu-icon, 
  .menu-btn{
    display: block;
    color: #f1f0f0;
    font-size: 2.5em;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 12px !important;
    align-items: center;
  }
  .logo {
    width: 250px;
    height: 100px;
  }
  .logo img {
    width: 200px;
    height: 100px;
    margin-left: 0px;
    object-fit: contain;
  }
  .logo a {
    display: block;
    width: 150px !important;
    height: 50px !important;
  }

  .menu {
    display: none;
    margin-top: 150px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
  }
  .nav-menu li {
    margin-right: 5px;
    margin-top: 0px;
    font-size: 13px !important;
  }
  .nav-menu li:last-child {
    margin-top: 0;
    margin-right: 0;
    padding: 4px;
  }
  .menu-icon {
    width: 20px;
    height: 20px;
  }
  .content {
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
  }
  .content h1 {
    width: 90%;
    font-size: 45px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .button2 {
    margin-left: 0;
  }
  .card {
    width: 55%;
  }
  .bottom-header {
    padding-top: 10%;
    flex-direction: column;
    height: 60vh;
  }
  .card {
    height: 25%;
  }
  .info {
    flex-direction: column;
    margin-left: 5%;
    align-items: normal;
  }
  .button-classes {
    margin-left: 10%;
  }
  .right-info img {
    max-width: 350px;
  }
  .bottom-classes {
    flex-direction: column;
  }
  .calculator-input {
    flex-direction: column;
    gap: 0;
  }
  .calc-img {
    width: 385px;
    height: 200px;
    object-fit: cover;
  }
  .trainer-container {
    flex-direction: column;
    gap: 40px;
  }
  
  .trainer-card img:hover{
    scale: 1.5;
    opacity: 0.4;
    
  }

  .purchase-container {
    flex-direction: column;
  }
  .purchase-card {
    width: auto;
  }
  .client {
    flex-direction: column;
    align-items: normal;
    gap: 100px;
    margin-top: 50px;
    padding: 6%;
  }
  .contact-menu {
    flex-direction: column;
  }
  .form {
    width: auto;
  }
  .map {
    width: auto;
    padding: 6%;
  }
  .bottom-footer {
    width: auto;
    margin-left: 0;
  }
  .top-footer {
    width: auto;
  }
 
}

/*Responsive Settings End*/

